<div class="row " style="padding-top: 60px; background-image: url(../../content/Dashboard.jpg); height: 1100px;">
    <div >
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading" style="color: white !important;">Railway station system</h2>
            <hr class="light">
            <p class="text-faded">Start use our service and you can to find flat or house of your dream, it is really wonderful site!</p>
            <a href="#/login" class="btn btn-raised btn-danger" style="color: white !important;">Get Started!<div class="ripple-container"></div></a>
        </div>
    </div>
</div>

<!--<div class="row">
    <img src="../../content/Dashboard.jpg" class="img-responsive"/>
</div>-->
<!--<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Find</h3>
                    <p class="text-muted">You can find house or flat!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>-->
