@model IEnumerable<TrainApplication.Database.AspNetRole>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
</style>
<h2>Index</h2>
<h4>AspNetRole</h4>
<p>
    @Html.ActionLink("Create New", "AspNetRoleCreate", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "AspNetRoleEdit", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

    </tr>
}

</table>
